# Development of Logging and quality data functions.
By Simen Svenkerud

AS

In [14]:
%run ../../utils/Imports.py
%run ../../utils/logging_quality/logging.py
%run ../../utils/logging_quality/manuall_edditing.py

In [2]:
test_data = pd.read_csv('../../data/Experimental/diamonds.csv', index_col='Unnamed: 0')

In [3]:
x =pd.DataFrame()
x['apples'] = test_data['color']+str('hg')
x['bones'] = test_data['table']/2
x['monkeys'] = test_data['x']+55

## Detecting new columns

In [4]:
%pwd

'C:\\Users\\ssv\\Documents\\python_scripts\\ssb\\SSVpytools\\notebooks\\experimental'

In [4]:
Logpath = 'testLog'

In [5]:
ColumnComparison(test_data, x, output = 'yes', log = Logpath)

These Datasets have the following common columns:
These columns exist only in the first dataset:
*  y
*  x
*  depth
*  clarity
*  table
*  carat
*  z
*  price
*  color
*  cut
These columns exist only in the second datasett:
*  apples
*  bones
*  monkeys

## Manuell corrections detection

In [6]:
corrections = {'Premium': 'Awsome'}
test_data2 = test_data.replace(corrections)

In [7]:
test_data.equals(test_data2)

False

In [8]:

correctionDetection(test_data[:50], test_data2[:50], log = Logpath)

Differences detected
Column  cut  is changed!
7  Changes detected

Change nr:  1
Changes:  2  0.21  Awsome  E  SI1  59.8  61.0  326  3.89  3.84  2.31
Original:  2  0.21  Premium  E  SI1  59.8  61.0  326  3.89  3.84  2.31

Change nr:  2
Changes:  4  0.29  Awsome  I  VS2  62.4  58.0  334  4.2  4.23  2.63
Original:  4  0.29  Premium  I  VS2  62.4  58.0  334  4.2  4.23  2.63

Change nr:  3
Changes:  13  0.22  Awsome  F  SI1  60.4  61.0  342  3.88  3.84  2.33
Original:  13  0.22  Premium  F  SI1  60.4  61.0  342  3.88  3.84  2.33

Change nr:  4
Changes:  15  0.2  Awsome  E  SI2  60.2  62.0  345  3.79  3.75  2.27
Original:  15  0.2  Premium  E  SI2  60.2  62.0  345  3.79  3.75  2.27

Change nr:  5
Changes:  16  0.32  Awsome  E  I1  60.9  58.0  345  4.38  4.42  2.68
Original:  16  0.32  Premium  E  I1  60.9  58.0  345  4.38  4.42  2.68

Change nr:  6
Changes:  27  0.24  Awsome  I  VS1  62.5  57.0  355  3.97  3.94  2.47
Original:  27  0.24  Premium  I  VS1  62.5  57.0  355  3.97  3.94  2.47

Change nr:  7
Changes:  46  0.29  Awsome  F  SI1  62.4  58.0  403  4.24  4.26  2.65
Original:  46  0.29  Premium  F  SI1  62.4  58.0  403  4.24  4.26  2.65

In [9]:
test_df=test_data[:50].reset_index().rename({'index':'recno'}, axis=1)
test_df['recno'] = str(test_df['recno'])

## Manuall changer with logger

In [11]:
Log=[]

In [12]:
data, log = manualEdditing(test_df, 'color')

Enter username ssv
How many changes do you want to make?: 1

Change nr:  1

Enter what column you want to change: color
Enter row identificator for the value you want to change: cut
Enter reason for change: testing

No value found, retry

In [15]:
print(log)

{}

In [16]:
df.loc[df[id_column]==row_identifier, col]

NameError: name 'df' is not defined

In [32]:
original

NameError: name 'original' is not defined

In [50]:
col = 'cut'
row_identifier = 5
original = 'd55'
new_value = 'ij'
Reson = 'testing'
id_column = 'index'
df=test_data
user = 'ssv'
timestr = time.strftime("%Y%m%d%M%S")

In [57]:
change_log = {}
c = [id_column, row_identifier, col, original, new_value, Reson ]
change_log[user+timestr]= c
print(change_log)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [12]:
df.loc[df[str(id_column)]==row_identifier, col] = new_value

In [13]:
test_data.loc[test_data.index==row_identifier][col]

5    Very Good
Name: cut, dtype: object

In [79]:
test_data.loc[test_data.index==row_identifier, col] = new_value

In [ ]:
def ChangeColumnValues(dataset, columnValues):
    """Changes the values of given columns into the given key value pairs

    :: Argument Description ::
    dataset - Dataset for which the values are to be updated
    columnValues - Dictionary with Column and Value-Replacement pair
    """

    for column, valuePair in columnValues.items():
        for value, replacement in valuePair.items():
            dataset.loc[dataset[column] == value, column] = replacement

    return dataset

## Merge loggs

Datasett that are merged together, SAS giveds information on the merge how it is performed and

In [19]:
test_df1 = pd.DataFrame(np.array([['1', 0.2, 0.1, 0.2, 0.5],
                                 ['2', 0.2, 0.3, 0.3, 0.2],
                                 ['3', 0.4, 0.2, 0.1, 0.3],
                                 ['4', 0.2, 0.4, 0.4, 0.0]]),
                       columns = ['id','a', 'b', 'c', 'd']
                      )
test_df1.head()

  id    a    b    c    d
0  1  0.2  0.1  0.2  0.5
1  2  0.2  0.3  0.3  0.2
2  3  0.4  0.2  0.1  0.3
3  4  0.2  0.4  0.4  0.0

In [ ]:
test_df2 = pd.DataFrame(np.array([['1', 88, 748, 876, 84],
                                 ['2', 84, 0.8746, 946, 84],
                                 ['5', 11, 486, 966, 846],
                                 ['6', 54, 0, 8432, 486]]),
                       columns = ['id','a', 'b', 'c', 'd']
                      )
test_df2.head()