In [3]:
import pandas as pd
import numpy as np
%run ../../utils/data/data_structure.py

In [2]:
test_data = ['1234', 123456, '123.456789']

In [4]:
hirarkisk_justering(test_data, 4)

['1234', '1234', '123.']

I need to make a prorate function

Simple algorithm sketch here...

1. Have a running total which starts at zero.
2. Do your standard "divide basis by total basis, then multiply by proportion amount" for the first item.
3. Store the original value of the running total elsewhere, then add the amount you just calculated in #2.
4. Round both the old value and the new value of the running total to integers (don't modify the existing values, round them into separate variables), and take the difference.
5. The number calculated in step 4 is the value assigned to the current basis.
6. Repeat steps #2-5 for each basis.

This is guaranteed to have the total amount prorated equal to the input prorate amount, because you never actually modify the running total itself (you only take rounded values of it for other calculations, you don't write them back). What would have been an issue with integer rounding before is now dealt with, since the rounding error will add up over time in the running total and eventually push a value across the rounding threshold in the other direction.

In [72]:
basis = [0.2, 0.3, 0.3, 0.2]
prorates = 47.51984876

test = Prorate_column(basis, prorates, 1)
sum(test)

47.6

In [73]:
test

[9.5, 14.3, 14.3, 9.5]

In [32]:
prorated

[9, 14, 14, 10]

In [5]:
test_df = pd.DataFrame(np.array([[0.2, 0.1, 0.2, 0.5],
                                 [0.2, 0.3, 0.3, 0.2],
                                 [0.4, 0.2, 0.1, 0.3],
                                 [0.2, 0.4, 0.4, 0.0]]),
                       columns = ['a', 'b', 'c', 'd']
                      )
test_df.head()

     a    b    c    d
0  0.2  0.1  0.2  0.5
1  0.2  0.3  0.3  0.2
2  0.4  0.2  0.1  0.3
3  0.2  0.4  0.4  0.0

In [4]:


def prorate_df(df, prorates, decimal_point=0, axis=1):
    columns = df.columns
    prorated_col = pd.DataFrame()
    if axis == 1:
        for col in columns:
            prorated_col[col] = prorate_column(df[col], prorates, decimal_point)
    elif axis == 0:
        for row in df.iterrows():
            values = row[1]
            prorated_col[0] = prorate_column(row, prorates, decimal_point)
            
    return prorated_col

In [135]:
total= 10
df = test_df

prorate_df(test_df, 10,decimal_point=2, axis=0)

                                                   0
0  a     9.38
b     8.82
c     8.82
d    10.00
Na...
1  a    0.62
b    1.18
c    1.18
d    0.00
Name: ...

In [133]:
test

[9.5, 14.3, 14.3, 9.5]